---
title: About me
layout: layout.njk
---

<section class="section">
  <div class="section__header">
    <a href="mailto:{{ metadata.author.email }}">Email</a>
    <a href="{{ metadata.author.instagram }}">Instagram</a>
    <a href="{{ metadata.author.linkedin }}">LinkedIn</a>
  </div>
</section>

<section class="section">
  <div class="section__header">
    <p>
      Experience
    </p>
    <h3>
      Wise Brand and Creative<br/>
      Senior Designer<br/>
      Since 2021
    </h3>
    <br/>
    <h3>
      Serious.Business<br/>
      Designer<br/>
      2017 - 2020
    </h3>
    <br/>
    <h3>
      Interbrand<br/>
      Intern<br/>
      Summer of 2016
    </h3>
  </div>
</section>

<section class="section">
  <div class="section__header">
    <p>
      Specialisms
    </p>
    <h3>
      Branding, Identity, Web, UI, Editorial, Print, Art Direction, Campaign
    </h3>
  </div>
</section>

<section class="section">
  <div class="section__header">
    <p>
      Clients
    </p>
    <h3>
      Wise, Amnesty International, Beam Suntory, Continental, Plantura, Cubania Travel etc
    </h3>
  </div>
</section>
