<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>{{ title or metadata.title }} | {{ metadata.description }}</title>
    <meta name="description" property="og:description" content="{{ description or metadata.description }}" />

    <link rel="stylesheet" type="text/css" href="/assets/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico" sizes="32x32">
    <link rel="icon" href="/assets/favicon.png" sizes="any" type="image/png" >

    <meta property="og:title" content="{{ title or metadata.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ metadata.url }}" />
    <meta property="og:image" content="{{ [metadata.url, "/assets/thumbnail.jpeg"] | join }}" />
  </head>
  <body>
    <header class="header section">
      <div class="section__header">
        <h1>
          <a href="/">{{ metadata.title }}</a>
        </h1>
        <p>
          {{ metadata.description }}
          <br/>
          {{ metadata.from }}
        </p>
      </div>
    </header>

    <div class="content">{{ content | safe }}</div>
    <footer class="footer">
      <div class="footer__copyright">&copy;2023</div>
      <a href="#top" class="footer__top">Back to top</a>
      <a href="/about" class="footer__about">About</a>
    </footer>
  </body>
</html>
