<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title or metadata.title }} | {{ metadata.description }}</title>
    <meta name="Description" content="{{ description or metadata.description }}" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="/assets/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico" sizes="32x32">
    <link rel="icon" href="/assets/favicon.png" sizes="any" type="image/png" >
  </head>
  <body>
    <header class="header section">
      <div class="section__header">
        <h1>
          <a href="/">{{ metadata.title }}</a>
        </h1>
        <p>
          {{ metadata.description }}
          <br/>
          {{ metadata.from }}
        </p>
      </div>
    </header>

    <div class="content">{{ content | safe }}</div>
    <footer class="footer">
      <div class="footer__copyright">&copy;2023</div>
      <a href="#top" class="footer__top">Back to top</a>
      <a href="/about" class="footer__about">About</a>
    </footer>
  </body>
</html>
