body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  letter-spacing: -0.05em;
  text-align: center;
}

img {
  max-width: 100%;
}

h1,
h3 {
  font-size: 1.75em;
  font-weight: 600;
  line-height: 1.1;
}

a {
  color: black;
  text-decoration: none;
  transition: all 0.2s;
}

a:hover {
  opacity: 0.4;
}

/* Header */
.header__about {
  text-transform: lowercase;
}

.header__about a {
  display: inline-block;
  margin: 0 0 0 1em;
}

/* Work piece */
.section {
  margin: 2em 0 7em;
}

.section h1,
.section h3 {
  margin: 0;
}

.section__header {
  max-width: 28em;
  margin: 0 auto;
}

.section p {
  margin: 0.25em 1em 1em;
  line-height: 1.2;
}

/* Image collection */
.collection p {
  margin: 0;
}

.collection img {
  width: auto;
  height: 34vw;
  margin: 0.25vw;
  border-radius: 1.5vw;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  margin: 2em 1em;
  text-transform: lowercase;
}

.footer__copyright {
  display: none;
  opacity: 0.4;
}

@media all and (min-width: 40em) {
  body {
    font-size: 1.25em;
  }

  h3,
  h1{
    font-size: 1.9em;
  }

  .section {
    margin: 1em 0 5em;
  }

  .collection img {
    height: 26.5vw;
  }

  .footer__copyright {
    display: block;
  }

  /* Header */
  .header__about {
    position: absolute;
    top: 1em;
    right: 1em;
    margin: 0 !important;
  }
}