body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  letter-spacing: -0.05em;
  text-align: center;
}

img {
  max-width: 100%;
}

h1,
h3 {
  font-size: 1.75em;
  font-weight: 600;
}

/* Work piece */
.section {
  margin: 2em 0 7em;
}

.section h1,
.section h3 {
  margin: 0;
}

.section__header {
  max-width: 28em;
  margin: 0 auto;
}

.section p {
  margin: 0.25em 1em 1em;
  line-height: 1.2;
}

/* Image collection */
.collection p {
  margin: 0;
}

.collection img {
  width: auto;
  height: 31vw;
  margin: 0.25vw;
  border-radius: 1.5vw;
}

@media all and (min-width: 30em) {
  body {
    font-size: 1.25em;
  }

  h3,
  h1{
    font-size: 1.9em;
  }

  .section {
    margin: 1em 0 5em;
  }

  .collection img {
    height: 26.5vw;
  }

}