body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  letter-spacing: -0.05em;
  text-align: center;
}

img {
  max-width: 100%;
}

.section {
  margin: 2em 0 7em;
}

.section h1,
.section h3 {
  font-size: 28px;
  font-weight: 600;
  margin: 0;
}

.section__header {
  max-width: 34em;
  margin: 0 auto;
}

.section p {
  margin: 0.25em 1em 1em;
  line-height: 1.2;
}

.collection p {
  margin: 0;
}

.collection img {
  width: auto;
  height: 31vw;
  margin: 0.25vw;
  border-radius: 1.5vw;
}

@media all and (min-width: 30em) {
  .section {
    margin: 1em 0 5em;
  }

  .section h3,
  .section h1{
    font-size: 38px;
  }

  .section p {
    font-size: 20px;
  }

  .collection img {
    height: 26.5vw;
  }

}